:root {
    --entryFoldersContainerMinHeight: calc(var(--inputHeight) + 0.5rem);
    --entryFoldersContainerMaxHeight: calc(var(--entryFoldersContainerMinHeight) * 3);
    --bottomToolbarFilesHeight: 80px;
    --bootmToolBarTagsHeight: 24px;
}

.EntryFolders {
    /* height: calc(100vh - var(--navBarHeight)); */
}

.FolderBreadCrumbsContainer .breadcrumb {
    height: var(--inputHeight);
    overflow-y: auto;
}

.FolderBasicDropDown {
    height: var(--inputHeight);
}

.EntryFoldersContainer {
    min-height: var(--entryFoldersContainerMinHeight);
    max-height: var(--entryFoldersContainerMaxHeight);
    overflow-y: auto;
}

.EntryFolderCards {
    max-height: calc(100vh - calc(var(--inputHeight) * 2) - 24px - var(--entryFoldersContainerMaxHeight));
    overflow-y: auto;
    overflow-x: hidden;
}

.EntryFolder {
    height: var(--inputHeight);
    width: 100%;
}

.EntryFolder {
    transition: all 0.4s ease-in-out;
}

.EntryFolder:hover {
    box-shadow: var(--primaryBoxShadow);
}