:root {
  --primaryBackgroundGradient: linear-gradient(
    to bottom,
    #000000,
    #100c0e,
    #191518,
    #201c22,
    #25242d,
    #25242d,
    #25242d,
    #25242d,
    #201c22,
    #191518,
    #100c0e,
    #000000
  );
  --accentColor: #8e44ad;
  --grey: #575e6a;
  --midNight: #1a2327;
  --danger: #e74c3c;
  --primaryBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.2),
    0 -1px 0px rgba(0, 0, 0, 0.02);
  --mainOpacity: 0.95;

  /* radial-gradient(circle, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff); */
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --primaryColor: white;
    --primaryColorRGB: 255, 255, 255;
    --secondaryColor: black;
    --tertiarycolor: rgba(0, 0, 0, 0.75);
    --quaternaryColor: #7f8c8d;
    --quinaryColor: #bdc3c7;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor: #29303b;
    --primaryColorRGB: 41, 48, 59;
    --secondaryColor: white;
    --tertiarycolor: #bdc3c7;
    --quaternaryColor: rgb(21, 32, 43);
    --quinaryColor: #1f2326;
  }
}
