.EntryMinimal {
  color: var(--secondaryColor);
  background: var(--quinaryColor);
  box-shadow: var(--primaryBoxShadow);
  height: 100%;
  width: 100%;
  text-align: inherit;
}

.EntryMinimal:hover {
  color: var(--secondaryColor);
  background: var(--primaryColor);
  cursor: pointer;
}

.EntryMinimalDetail {
  font-size: 1.5em;
  font-weight: 900;
  min-height: 21px;
}

.EntryMinimalTime,
.EntryMinimalTime time {
  font-size: 1.25em;
  font-weight: 200;
}
