@-moz-keyframes glow-star {
    40% {
      -moz-opacity: 0.3;
    }
    90%, 100% {
      -moz-opacity: 1;
      -moz-transform: scale(1.2);
    }
  }
  
  @-webkit-keyframes glow-star {
    40% {
      -webkit-opacity: 0.3;
    }
    90%, 100% {
      -webkit-opacity: 1;
      -webkit-transform: scale(1.2);
    }
  }
  
  @keyframes glow-star {
    40% {
      -webkit-opacity: 0.3;
      opacity: 0.3;
    }
    90%, 100% {
      -webkit-opacity: 1;
      opacity: 1;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      border-radius: 999999px;
    }
  }