.TagsContainer {
    display: flex;
    width: 100%;
}

.TagContainer {
    background: var(--accentColor);
    height: 20px;
    padding: .25rem;
    margin: 0.25rem;
}

.TagContainer i {
    vertical-align: middle;
}

.TagContainerHover:hover {
    background: var(--dark_border);
    cursor: pointer;
}