.TagsContainer {
    display: flex;
    width: 100%;
}

.TagContainer {
    background: var(--accentColor);
    padding: 0.25rem;
    /* top right bottom left */
    margin: 0 0.25rem 0.25rem 0;
}

.TagContainer * {
    display: inline-block;
    vertical-align: middle;
}

.TagTitle {}

.TagContainerHover:hover {
    background: var(--dark_border);
    cursor: pointer;
}