.TagsContainer {
    display: flex;
    width: 100%;
}

.TagContainer {
    background: var(--accentColor);
    padding: 0.25rem;
}

.TagContainer:first-child {
    margin-right: 0.25rem;
}

.TagContainer:not(:first-child) {
    margin: 0.25rem;
}

.TagContainer * {
    display: inline-block;
    vertical-align: middle;
}

.TagTitle {}



.TagContainerHover:hover {
    background: var(--dark_border);
    cursor: pointer;
}