.basicListContainer {
    /* box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 2px 2px 1px rgba(0, 0, 0, 0.14), 0px 1px 2px 1px rgba(0, 0, 0, 0.12); */
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 2px;
    background-color: inherit;
    z-index: 1000;
}

.basicListItemValue {
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.FirstValue {
    flex-shrink: 1;
}

.OtherValue {
    flex-basis: 16px;
}

.basicListItem {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    font-size: inherit;
    font-weight: inherit;
}

.basicListItemHoverable:hover {
    background-color: #ecf0f1;
    cursor: pointer;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: -webkit-transform 0.2s cubic-bezier(0.485, 1.65, 0.545, 0.835);
    transform: perspective(1px) translate3d(0, 0, 0) scale3d(1.02, 1.02, 1);
    --webkit-perspective: 1000;
}