.Alert {
    position: absolute;
    z-index: 9999;
    bottom: 52px;
    right: 0;
    background: var(--dark_border);
    color: var(--secondaryColor);
}

.Alert .toast-header {
    background: var(--slate_grey);
    color: var(--secondaryColor);
    font-size: 18px;
}