.Alert {
  position: absolute;
  z-index: 9999;
  top: calc(var(--navBarHeight) + var(--inputHeight));
  right: 0;
  background: var(--quinaryColor);
  color: var(--secondaryColor);
}

.Alert .toast-header {
  background: var(--primaryColor);
  color: var(--secondaryColor);
  font-size: 18px;
}
