.ql-editor {

}

.ql-snow .ql-tooltip {
    background-color: var(--slate_grey);
    left: 0 !important;
    right: 0 !important;
    color: var(--secondaryColor);
    border: 0;
    box-shadow: var(--primaryBoxShadow);
}

.ql-snow .ql-tooltip a {

}

.ql-editor ul > li.ql-indent-1::before {
    content: '\25E6';
}

.ql-editor ul > li.ql-indent-2::before {
    content: '\25A0';
}

.ql-editor ul > li.ql-indent-3::before {
    content: '\25A1';
}