.Entries {
   
}

.EntryTabs .nav-link i {
    font-size: 24px;
    height: calc(100vh - var(--navBarHeight));
}

.MinimalEntryListToggle {
    background: var(--quinaryColor);
    padding: 4px;
    border-radius: 4px;
}

.MinimalEntryListToggle:hover {
    background: var(--slate_grey);
}
