.Entries {
  margin-top: 20px;
  color: var(--tertiarycolor);
}

.EntryInput .form-control, .EntryInput .input-group-text {
  box-shadow: var(--primaryBoxShadow);
  outline: 0px !important;
  border: 0 !important;
}