.EntryCards {

}

.EntryOptionsMenuContainer {
    opacity: 0.05;
    position: absolute;
    right: 0;
    z-index: 999;
    transition: opacity 0.4s ease-in-out;
}

.EntryOptionsMenuContainer:hover{
    opacity: 1;
}