.Navlink, .nav-link {
    color: var(--secondaryColor) !important;
    text-align: center;
  }
  
  .Navlink.active {
    color: var(--accentColor) !important;
  }


.Navlink:hover, .Navlink i:hover {
    background: inherit;
    color: var(--accentColor) !important;
    cursor: pointer;
  }