.EntryFolder {
    width: 100%;
    font-size: 1.25rem;
}

.EntryFolder {
    transition: all 0.4s ease-in-out;
}

.EntryFolder:hover {
    box-shadow: var(--primaryBoxShadow);
}

.EntryFolderTitle {
    width: 100%;
}
