.EntryMinimal {
    color: var(--secondaryColor);
    background: var(--quinaryColor);
    height: 100%;
    width: 100%;
    text-align: inherit;
}

.EntryMinimal:hover {
    background: var(--slate_grey);
    cursor: pointer;
}

.EntryMinimalDetail {
    font-size: 1.5em;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 21px;
}

.EntryMinimalTime, .EntryMinimalTime time {
    font-size: 1.25em;
    font-weight: 200;
}

