.EntryMinimal {
    color: var(--secondaryColor);
    background: var(--quinaryColor);
    width: 100%;
    padding: 8px 2px 8px 8px;
}

.EntryMinimal:hover {
    background: var(--slate_grey);
    cursor: pointer;
}

.EntryMinimal span:not(:last-child) {
    margin-right: 6px;
}

.EntryMinimal span:last-child {
    font-size: 1.5em;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.EntryMinimal time {
    font-size: 1.25em;
    font-weight: 200;
}
