.EntryMinimal {
    color: var(--secondaryColor);
    background: var(--quinaryColor);
    height: 100%;
    width: 100%;
}

.EntryMinimal:hover {
    background: var(--slate_grey);
    cursor: pointer;
}

.EntryMinimalTitle {
    font-size: 1.5em;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.EntryMinimalTime, .EntryMinimalTime time {
    font-size: 1.25em;
    font-weight: 200;
    text-align: right;
}

.EntryMinimalTags {
    margin-left: -4px;
}