.EntryFilesCarousel {
  height: 100%;
  overflow: auto;
}

.EntryFilesCarouselImageContainer {
  max-height: calc(500px - var(--inputHeight) - 20px);
  /* flex: 1;
    flex-wrap: wrap;
    flex-basis: 400px; */
}
