.StarSearch input,
.StarSearch .input-group-text {
  border: 0;
}

.StarSearch i {
  color: var(--secondaryColor);
  font-size: 32px;
}

.StarSearch i:hover {
  color: var(--accentColor);
}

.TelescopeIconContainer {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--quinaryColor);
}

.SunIcon {
  animation: fa-spin 0.8s infinite ease-in;
  -webkit-animation: fa-spin 0.8s infinite linear;
}

.StarSearch:focus-within .TelescopeIcon {
  animation: fa-spin 0.8s alternate ease-in;
  -webkit-animation: fa-spin 0.8s alternate linear;
}
