.DatePicker {
  /* background-color: red; */

}

.react-datepicker-wrapper {}

.react-datepicker__input-container {

}

.react-datepicker__input-container input {
  width: 90px;
}

.DatePickerPopper {
  z-index: 9999 !important;
}

.NavBaDatePickerTodayButton {
  color: var(--primaryColor);
  font-size: 16px;
}

.NavBaDatePickerTodayButton:hover {
  color: var(--tertiaryColor);
  cursor: pointer;
}
