.DatePicker {
  /* background-color: red; */
}

.react-datepicker-wrapper {}

.react-datepicker__input-container {}

.DatePickerPopper {
  z-index: 9999 !important;
}

.NavBaDatePickerTodayButton {
  color: var(--primaryColor);
  font-size: 16px;
}

.NavBaDatePickerTodayButton:hover {
  color: var(--tertiaryColor);
  cursor: pointer;
}
