:root {
  --maxHeightWidth: 50px;
}

.FileUploadContainer {
  height: 40px;
  font-size: 1rem;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.FileUploadContainer small {
  font-size: 1em;
}

.FileUploadContainer img {
  height: var(--maxHeightWidth);
  width: var(--maxHeightWidth);
  border-radius: 50%;
  object-fit: cover;
}
