.BasicTableHeader {
    vertical-align: middle;
}

.HeaderHoverable:hover {
    cursor: pointer;
    background-color: var(--dark_border);
}

.TableHeaderSortInput {
    min-height: 20px !important;
}