@import "./stylesM.css";
.List {
    overflow-y: auto;
    white-space: nowrap;
    height: calc(100% - 64px);
    padding: 2px;
    position: relative;
}

.List::-webkit-scrollbar {
    display: block;
    width: 4px;
}

.listItem {
    background-color: white;
    border: 1px solid rgba(55, 57, 67, 0.2);
    border-radius: 0.25rem;
    padding: 0 4px;
    margin: 2px 0;
    min-height: 58px;
}

.listItem:hover {
    border-color: var(--primaryColor);
    background-color: whitesmoke;
}

/* .List .list-group-item:first-child,
  .List .list-group-item:last-child {
    border-radius: 0 !important;
  } */

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading, .list-group-item-text {
    color: var(--tertiarycolor);
}

.EventColorLabelContainer {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    display: inline-block;
    margin-right: 6px;
    border-radius: 100%;
}