@import "./stylesM.css";
.List {
    overflow: hidden;
    white-space: nowrap;
}

.ListHeader {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 22px;
    font-weight: 200;
    line-height: 22px;
    height: 22px;
    background: var(--primaryGradientBackground);
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient( to right, var(--secondaryColor), var(--slate_grey), var(--secondaryColor)); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient( to right, var(--secondaryColor), var(--slate_grey), var(--secondaryColor)); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.listItem {
    background-color: white;
    /* border: 1px solid var(--dark_border); */
    padding: 4px;
}

.listItem:hover {
    border-color: var(--primaryColor);
    background-color: whitesmoke;
}

/* .List .list-group-item:first-child,
  .List .list-group-item:last-child {
    border-radius: 0 !important;
  } */

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading, .list-group-item-text {
    color: var(--tertiarycolor);
}

.EventColorLabelContainer {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    display: inline-block;
    margin-right: 6px;
    border-radius: 100%;
}