:root {
    --bottomToolbarHeight: 220px;
    --bottomToolbarFilesHeight: 80px;
    --bootmToolBarTagsHeight: 24px;
}

.ToggleBottomToolbarButton {
    height: var(--inputHeight);
    background-color: var(--primaryColor);
    opacity: var(--mainOpacity);
    width: 100%;
}

.ToggleBottomToolbarButton:hover {
    opacity: 1;
}

.ToggleBottomToolbarButton i {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.BottomToolbarIsOpen i {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}

.BottomToolbarIsClosed i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.BottomToolBar {
    height: var(--bottomToolbarHeight);
    opacity: var(--mainOpacity);
    color: var(--secondaryColor);
    background: var(--slate_grey)
}

.BottomToolBar i {
    color: var(--secondaryColor);
}

.BottomToolBar .row {}

.BottomToolBar:focus-within, .BottomToolBar:hover {
    opacity: 1;
}

.BottomToolBarTags {
    height: var(--bootmToolBarTagsHeight);
}

.BottomToolBarFiles {
    height: var(--bottomToolbarFilesHeight);
}

.BottomToolButtonRow {
    height: calc((100% - var(--bottomToolbarFilesHeight) - var(--bootmToolBarTagsHeight)) / 2);
}