@import "./stylesM.css";
:root {
  --tooltipSizeRatio: 4px;
  --tooltipSize: calc(var(--tooltipSizeRatio) * 7);
  --tooltipRatio_2: calc(var(--tooltipSize) / 2);
  --tooltipRatio_3: calc(var(--tooltipSize) / 3);
  --tooltipRatio_4: calc(var(--tooltipSize) / 4);
  --tooltipRatio_6: calc(var(--tooltipSize) / 6);
  --tooltipRation_8: calc(var(--tooltipSize) / 8);
  --tooltipRatio_12: calc(var(--tooltipSize) / 12);
}

.Event {
  min-height: 160vh;
}

.Event [class*="col-"] {
  margin-top: 16px;
}

.Event .memberRow {
  border-radius: 6px;
  padding: 2px;
  margin: 4px 0;
}

.Event .memberCol {
  padding: 4px;
}

/* .Event .form-group {
  padding: 4px 0;
  margin: 0;
} */

.slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 3;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-tooltip-hidden {
  display: none;
}

.slider-tooltip-placement-top {
  padding: var(--tooltipRatio_6) 0 var(--tooltipRatio_3) 0;
}

.slider-tooltip-inner {
  padding: var(--tooltipRatio_4) var(--tooltipRatio_12);
  min-width: var(--tooltipSize);
  height: var(--tooltipSize);
  font-size: var(--tooltipRatio_2);
  font-weight: bold;
  line-height: 1;
  color: var(--tertiarycolor);
  text-align: center;
  text-decoration: none;
  background-color: var(--primaryColor);
  border-radius: 50%;
  box-shadow: 0 0 var(--tooltipRatio_6) var(--slate_grey);
}

.slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.slider-tooltip-placement-top .slider-tooltip-arrow {
  bottom: var(--tooltipRatio_6);
  left: 50%;
  margin-left: calc(var(--tooltipRatio_6) * -1);
  border-width: var(--tooltipRatio_6) var(--tooltipRatio_6) 0;
  border-top-color: var(--tertiarycolor);
}

.rc-slider-handle:hover, .rc-slider-handle:focus {
  border-color: var(--primaryColor) !important;
  box-shadow: 0 0 0 var(--tooltipRation_8) var(--primaryColor) !important;
}