[id*='toolbar-'] {
    box-shadow: var(--primaryBoxShadow);
    background: var(--quinaryColor);
    color: #444444;
}

[id*='toolbar-'] i {
    color: #444444;
}

[id*='toolbar-'] i:hover {
    color: #06c;
}