[id*='toolbar-'] {
    box-shadow: var(--primaryBoxShadow);
    background: var(--quinaryColor);
    color: #444444;
}

[id*='toolbar-'] i {
    color: #444444;
}

[id*='toolbar-'] i:hover {
    color: #06c;
}

.ql-toolbar.ql-snow {
    border: 0;
}

.ql-toolbar.ql-snow .ql-picker-options {
    box-shadow: var(--primaryBoxShadow);
    background: var(--slate_grey);
    color: var(--secondaryColor);
}

@media (max-width: 413px) {
    :root {
        --textEditorToolBarHeight: 141px;
    }
}

@media (min-width: 414px) and (max-width: 533px) {
    :root {
        --textEditorToolBarHeight: 94px;
    }
}

@media (min-width: 534px) and (max-width: 1199px) {
    :root {
        --textEditorToolBarHeight: 68px;
    }
}

@media (min-width: 1200px) {
    :root {
        --textEditorToolBarHeight: 42px;
    }
}

/* @media (min-width: 768px) and (max-width: 991px) {
    :root {
        --textEditorToolBarHeight: 126px;
    }
}

@media (min-width: 992px) {
    :root {
        --textEditorToolBarHeight: 90px;
    }
} */