@media (max-width: 767px) {
    .TileContentContainer {
        overflow-x: auto;
        overflow-y: hidden;
        line-height: 0;
    }
}

@media (min-width: 768px) {
    .TileContentContainer {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100% - 34px);
        top: 34px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.TileContentContainer {
    /* background-color: red; */
    /* display: inline-block; */
}