.NavBar {
  font-weight: bold;
  width: 100%;
  z-index: 3;
  box-shadow: var(--primaryBoxShadow);
  text-align: center !important;
  background: var(--slate_grey);
}

.NavBar li, .NavBar a {
  font-size: 18px !important;
}

.Navlink, .nav-link {
  color: var(--secondaryColor) !important;
}

.Navlink.active {
  color: var(--accentColor) !important;
}

.NavBar button.dropdown-item {
  color: var(--primaryColor) !important;
}

@media (min-width: 768px) {
  .NavBar li {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
  }
}

.NavBar .NavBarImage {
  max-height: var(--navBarImageHeight);
  margin-right: 4px;
  padding: 0;
  top: 0;
  border-radius: 50%;
  font-size: 20px;
}

.NavBar .NavBarLink:hover {
  color: var(--accentColor);
  cursor: pointer;
}

.Navlink:hover, .Navlink i:hover {
  background: inherit;
  color: var(--accentColor) !important;
  cursor: pointer;
}