:root {
  --cursor: url("../../images/Cursor.png"), auto;
  --primaryColor: #29303b;
  --primaryColorRGB: 25, 154, 170;
  --secondaryColor: white;
  --tertiarycolor: #bdc3c7;
  --quaternaryColor: #34495e;
  --quinaryColor: #1f2326;
  --accentColor: rgba(182, 102, 214, 0.6);
  --light_grey: rgb(204, 204, 204);
  --white_smoke: #f8f9fa;
  --white_smoke_transparent: rgba(245, 245, 245, 0.96);
  --grey: #575e6a;
  --slate_grey: #29303b;
  --dark_border: #1f2326;
  --midNight: #1A2327;
  --danger: #e74c3c;
  --primaryBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  --mainOpacity: 0.95;
  --primaryBackgroundGradient: linear-gradient(to bottom, #000000, #100c0e, #191518, #201c22, #25242d, #25242d, #25242d, #25242d, #201c22, #191518, #100c0e, #000000);
  /* radial-gradient(circle, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff); */
}