/* 	The Bootstrap grid system has four classes:
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)

max-width: 767px = “If [device width] is less than or equal to 767px, then do {…}”
min-width: 767px = “If [device width] is greater than or equal to 767px, then do {…}”
*/

:root {
  --navBarImageHeight: 36px;
  --inputHeight: 48px;
}

@media (max-width: 767px) {
  :root {
    --navBarHeight: 64px;
  }
}

@media (min-width: 768px) {
  :root {
    --navBarHeight: 68px;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}