.EntryMediaContainer:hover .EntryMedia {
  cursor: pointer;
  color: var(--accentColor) !important;
  overflow-x: initial;
}

.EntryMediaContainer:hover .media,
.EntryMediaContainer:hover iframe {
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: -webkit-transform 0.425s cubic-bezier(0.485, 1.65, 0.545, 0.835);
  transform: perspective(1px) translate3d(0, 0, 0) scale3d(1.05, 1.05, 1);
  z-index: 9999;
}

.EntryMedia {
  max-height: 200px;
  max-width: 100%;
  object-fit: scale-down;
}
