@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./bootstrap/index.css";
@import "../../node_modules/react-image-lightbox/style.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Varela+Round&display=swap");
@import "./variables/colors.css";
@import "./variables/typography.css";
@import "./base/index.css";
