.MainFooter {
  color: var(--tertiarycolor);
  display: block;
  position: absolute;
  text-align: center;
  height: var(--footerHeight);
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.MainFooter a {
  margin-right: 10px;
}

.MainFooter a:hover {}

