.ToolbarModal {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: (-50%, -50%); */
}

.ToolbarModal .modal-header .close {
    display: none;
}

.ToolbarModal .modal-content {
    background: var(--slate_grey);
    color: var(--secondaryColor);
}

