.ConfirmActionModal {
  top: 50%;
  transform: translate(0, -50%) !important;
  }
  
  .ConfirmActionModal .modal-content {
    background: var(--slate_grey);
  }

  .modal-title {
    font-size: 26px;
    font-weight: 600;
  }
  
  .ConfirmActionModal .close {
    display: none;
  }
