[id*='toolbar-'] {
    box-shadow: var(--primaryBoxShadow);
    background: var(--quinaryColor);
    color: #444444;
    z-index: 9999;
}

[id*='toolbar-'] i {
    color: #444444;
}

[id*='toolbar-'] i:hover {
    color: #06c;
}

.ql-toolbar.ql-snow {
    border: 0;
}

.ql-toolbar.ql-snow .ql-picker-options {
    box-shadow: var(--primaryBoxShadow);
    background: var(--slate_grey);
    color: var(--secondaryColor);
}

@media (max-width: 413px) {
    :root {
        --topToolbarHeight: 112px;
    }
}

@media (min-width: 414px) and (max-width: 533px) {
    :root {
        --topToolbarHeight: 90px;
    }
}

@media (min-width: 534px) and (max-width: 1199px) {
    :root {
        --topToolbarHeight: 68px;
    }
}

@media (min-width: 1200px) {
    :root {
        --topToolbarHeight: 42px;
    }
}

/* @media (min-width: 768px) and (max-width: 991px) {
    :root {
        --topToolbarHeight: 126px;
    }
}

@media (min-width: 992px) {
    :root {
        --topToolbarHeight: 90px;
    }
} */

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 12px;
}

.ql-toolbar.ql-snow .ql-formats::before {
    /* content: '';
   
    height: 100%;
    border: 1px solid #444444; */
}