.BasicTableHeader {
  vertical-align: middle;
}

/* .BasicTableHeader:hover {
  cursor: col-resize;
  border-right: 2px solid blue;
} */

.HeaderHoverable:hover {
  background-color: var(--quinaryColor);
}

.TableHeaderSortInput {
  min-height: 20px !important;
}
