@keyframes glow-star {
  40% {
    -webkit-opacity: 0.1;
    opacity: 0.1;
  }
  90%, 100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 999999px;
  }
}
