@media (max-width: 767px) {
  :root {
    --calendarTileHeight: 7vh;
  }
  .EventList {
    min-height: calc(var(--calendarTileHeight) * 6 + 86px);
  }
  .hasEventsContainerMobile {
    display: inline-block;
  }
  .hasEventsContainerMobile:first-child {
    /* margin-left: 0.75px; */
  }
  .eventLabelColor {}

  .react-calendar__month-view button {
    height: var(--calendarTileHeight);
    flex: 1 0 0;
    position: relative;
    opacity: var(--mainOpacity);
    background-color: transparent;
    border: 1px solid var(--dark_border);
  }
  .react-calendar__month-view .react-calendar__tile abbr {
    position: relative;
    top: 0;
    left: 0;
    float: none;
    margin: 0 auto;
    display: block;
  }
}