.Home {
    color: var(--secondaryColor);
    background: rgba(0, 0, 0, 0.2);
}

.HomeFeatureCard {
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    margin: 15px 0;
    height: 350px;
}

.HomeFeatureContainer {
    text-align: center;
}

.HomeFeatureBodyContainer {
    background: var(--midNight);
}

.HomeFeatureIcon {
    font-size: 8em;
}

.HomeFeatureImage {
    width: auto;
    height: 128px;
}

.HomeFeatureTitle {
    font-weight: 900;
}

.HomeFeatureText {
    height: 64px;
}