.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - var(--navBarHeight));
    background-image: var(--primaryGradientBackground);
}