@media (min-width: 768px) {
  :root {
    --calendarTileHeight: calc((100vh - var(--navBarHeight) - 24px) / 6);
  }
}

.ReactCalendar {
  color: white;
  opacity: var(--mainOpacity);
}

.react-calendar__month-view__weekdays abbr[title], .react-calendar__month-view__weekdays__weekday abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.CalendarNavigationButton {
  color: var(--grey);
}

.CalendarNavigationButton:hover {
  color: white;
}

.react-calendar__navigation button:nth-child(1) {
  /* border-left: 1px solid rgba(0, 0, 0, 0.2); */
}

.react-calendar__navigation button:last-child {
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
}

.react-calendar__navigation button {
  color: var(--secondaryColor);
  border: 0;
  height: 2em;
  background: var(--quinaryColor);
  opacity: var(--mainOpacity);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.react-calendar__navigation button:hover {
  /* background-color: var(--slate_grey); */
}

.react-calendar__navigation__arrow:hover {
  color: var(--primaryColor);
}

.react-calendar__navigation__arrow, .react-calendar__navigation__label {
  font-size: 2em;
  font-weight: bold;
}

.react-calendar__tile--active .hasEventsContainer abbr, .react-calendar__month-view .hasEventsContainer abbr {
  position: inherit;
  border: 0;
  border-radius: 0;
  background-color: inherit;
  color: inherit;
}

.react-calendar__month-view__days {
  /* background-color: red; */
}

.react-calendar__month-view__days button {
  max-width: 100% !important;
  padding: 0;
  color: white;
}

.react-calendar__month-view__days__day--neighboringMonth {
  /* background-color: var(--grey); */
  color: var(--grey) !important;
  opacity: var(--mainOpacity);
}

.react-calendar__month-view__weekdays {
  border-left: 1px solid var(--dark_border);
  border-right: 1px solid var(--dark_border);
  text-align: center;
  background-color: var(--grey);
  opacity: var(--mainOpacity);
}

.react-calendar__month-view button {
  flex: 1 0 0;
  position: relative;
  opacity: var(--mainOpacity);
  height: var(--calendarTileHeight);
  background: var(--quinaryColor);
  border: 1px solid var(--dark_border);
  background: var(--quinaryColor);
}

.react-calendar__century-view__decades__decade:hover, .react-calendar__decade-view__years__year:hover, .react-calendar__year-view__months__month:hover, .react-calendar__month-view button:hover {
  background: var(--slate_grey);
}

.react-calendar__month-view .react-calendar__tile abbr {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

abbr {
  max-height: 28px;
  max-width: 28px;
}

.react-calendar__tile--now abbr {
  line-height: 25px;
  width: 25px;
  font-weight: 600;
  border-radius: 100%;
}

.react-calendar__month-view .react-calendar__tile--now abbr {
  background-color: var(--accentColor);
  color: var(--secondaryColor);
}

.react-calendar__year-view {}

.react-calendar__century-view__decades__decade, .react-calendar__decade-view__years__year, .react-calendar__year-view__months__month {
  padding: 20px;
  background: var(--quinaryColor);
  color: var(--secondaryColor);
}

.react-calendar__tile--active abbr {
  line-height: 25px;
  width: 25px;
  font-weight: 600;
  border-radius: 100%;
  background: black !important;
  color: white;
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  text-align: center;
  will-change: transform;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: -webkit-transform 0.425s cubic-bezier(0.485, 1.65, 0.545, 0.835);
  transform: perspective(1px) translate3d(0, 0, 0) scale3d(1.1, 1.1, 1);
  --webkit-perspective: 1000;
}

.EventList {
  height: calc(var(--calendarTileHeight) * 6 + 86px);
  /* max-height: 100vh; */
  /* box-shadow: var(--primaryBoxShadow); */
  background: var(--quinaryColor);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.EventListHeader {
  opacity: var(--mainOpacity);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--quinaryColor);
  color: var(--secondaryColor);
  height: 64px;
  line-height: 60px;
  font-weight: bold;
}

.EventListHeader time {
  font-size: 2em;
}

.EventList .TodayButton {
  color: var(--accentColor);
  font-size: 1.5rem;
  padding: 0 8px;
}

.EventList .TodayButton:hover {
  color: var(--secondaryColor);
}