.BasicCard {
  background: rgba(var(--primaryColorRGB), 0.75);
  border: 0;
  color: inherit;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.BasicCard:hover {
  color: inherit;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

.BasicCardSelected {
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 8px 2px var(--accentColor);
}

.BasicCardHover {
  transition: all 0.4s ease-in-out;
}

.BasicCardHover:hover {
  box-shadow: 0 0 8px 2px var(--accentColor);
}

.BasicCardContainer {
  width: 100%;
}

.BasicCardBodyContainer {
  background: var(--primaryColor);
}

.BasicCardTitle {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 4px;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.BasicCardText {
  text-overflow: ellipsis;
  overflow: hidden;
}
