.EntryInput .form-control, .EntryInput .input-group-text {
  outline: 0px;
  border: 0;
  background: inherit;
  z-index: 3;
}

.EntryInputTitle .form-control, .EntryInputTitle .input-group-text {
  box-shadow: none;
}

.EntryInput * {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.EntryInputDelete {
  box-shadow: none !important;
  padding: 10px 12px;
}