.EntryInput .form-control,
.EntryInput .form-group,
.EntryInput .input-group-text {
  outline: 0px;
  border: 0;
  z-index: 3;
  height: var(--inputHeight);
  margin: 0;
}

.EntryInput #date_created_by_author {
  max-width: 37.5vw;
}

.EntryInputTitle .form-control,
.EntryInputTitle .input-group-text {
  box-shadow: none;
}

.EntryInputDelete {
  box-shadow: none !important;
  padding: 10px 12px;
}

.EntryViews {
  background-color: var(--quinaryColor);
}

