:root {
  --textEditorToggleToolBarButtonHeight: 44px;
}





.WithToolBar {
  /* height: 100%; */
  /* height: calc(100% - var(--inputHeight)); */
  /* height: calc(100% - var(--textEditorToolBarHeight)); */
  height: calc(100% - var(--textEditorToolBarHeight) - var(--textEditorToolBarMarginBottom));
}

.WithNoToolBar {
  height: 100%;
}

.public-DraftStyleDefault-block {
  margin: 0.5em 0;
}

.rdw-editor-main {
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.rdw-editor-main blockquote {
  border-left: 5px solid #f1f1f1;
  padding-left: 5px;
}

.rdw-editor-main pre {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 1px 10px;
}
