:root {
  --textEditorToggleToolBarButtonHeight: 44px;
}

.Editor {
  box-shadow: var(--primaryBoxShadow);
  padding: 0 0.5em;
  border-radius: 2px;
  opacity: var(--mainOpacity);
  letter-spacing: 0.4px;
  color: var(--secondaryColor);
  background: var(--quinaryColor);
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  opacity: var(--mainOpacity);
}

.Editor:focus-within {
  opacity: 1;
}

.WithToolBar {
  /* height: 100%; */
  /* height: calc(100% - var(--inputHeight)); */
  /* height: calc(100% - var(--textEditorToolBarHeight)); */
  height: calc(100% - var(--textEditorToolBarHeight) - var(--textEditorToolBarMarginBottom));
}

.WithNoToolBar {
  height: 100%;
}

.public-DraftStyleDefault-block {
  margin: 0.5em 0;
}

.rdw-editor-main {
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.rdw-editor-main blockquote {
  border-left: 5px solid #f1f1f1;
  padding-left: 5px;
}

.rdw-editor-main pre {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 1px 10px;
}

.Editor::-webkit-scrollbar {
  display: block;
  width: 4px;
}

@media (max-width: 383px) {
  :root {
    --textEditorToolBarHeight: 198px;
  }
}

@media (min-width: 384px) and (max-width: 423px) {
  :root {
    --textEditorToolBarHeight: 162px;
  }
}

@media (min-width: 424px) and (max-width: 469px) {
  :root {
    --textEditorToolBarHeight: 172px;
  }
}

@media (min-width: 470px) and (max-width: 767px) {
  :root {
    --textEditorToolBarHeight: 136px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --textEditorToolBarHeight: 126px;
  }
}

@media (min-width: 992px) {
  :root {
    --textEditorToolBarHeight: 90px;
  }
}