:root {
  --textEditorToolBarMarginBottom: 4px;
}

.Toolbar {
  /* background: var(--slate_grey);
    border: 0;
    border-radius: 4px;
    border: 1px solid var(--gray); */
  /* width: 100%; */
  position: relative;
}

.rdw-editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  background: var(--quinaryColor);
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: var(--textEditorToolBarMarginBottom);
  user-select: none;
  box-shadow: var(--primaryBoxShadow);
}