.Wrapper {
  height: 100%;
}

.rdw-editor-wrapper:focus {
  outline: none;
}

.rdw-editor-wrapper {
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

/* 
 .Wrapper .rdw-editor-toolbar {
    margin-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, var(--mainOpacity));
  }
   .Wrapper .rdw-dropdownoption-active,
   .Wrapper .rdw-dropdown-selectedtext,
   .Wrapper .rdw-dropdown-optionwrapper {
    background-color: var(--grey);
    color: var(--tertiarycolor);
  }
   .Wrapper .rdw-dropdownoption-default:hover {
    color: var(--primaryColor);
    background-color: inherit;
  }
   .Wrapper .rdw-dropdown-carettoopen {
    border-top: 6px solid white;
  }
   .Wrapper .rdw-dropdown-carettoclose {
    border-bottom: 6px solid white;
  }
   .Wrapper .rdw-suggestion-dropdown {
    background-color: var(--grey);
  }
   .Wrapper .rdw-suggestion-option:hover,
   .Wrapper .rdw-suggestion-option-active {
    background-color: var(--primaryColor);
  }
   .Wrapper .rdw-mention-link {
    background-color: transparent;
  }
   .Wrapper .rdw-embedded-modal {
    box-shadow: transparent;
  }
   .Wrapper .rdw-colorpicker-modal-options {
    overflow-x: hidden;
  }
   .Wrapper .rdw-link-modal,
   .Wrapper .rdw-image-modal,
   .Wrapper .rdw-embedded-modal,
   .Wrapper .rdw-colorpicker-modal,
   .Wrapper .rdw-link-modal-input,
   .Wrapper .rdw-embedded-modal-link-input,
   .Wrapper .rdw-embedded-modal-size-input,
   .Wrapper .rdw-emoji-modal,
   .Wrapper .rdw-image-modal-url-input,
   .Wrapper .rdw-image-modal-size-input,
   .Wrapper button {
    background-color: var(--grey);
    box-shadow: 0 0 0 transparent;
  }
   .Wrapper .rdw-colorpicker-modal-style-label-active {
    border-color: var(--tertiarycolor);
  }
   .Wrapper .rdw-image-modal-header-label,
   .Wrapper .rdw-embedded-modal-header-label,
   .Wrapper .rdw-image-modal-header-label-highlighted {
    border: 0;
  }
   .Wrapper button:hover {
    background-color: var(--primaryColor);
    color: var(--tertiarycolor);
  } */